# .gitignore file

# Misc LaTeX filer att ignorera:
**.aux
**.bbl
**.bcf
**.blg
**.log
**.run.xml
**.synctex.gz

# Filtrering av pdf-filer utanför Users, Bolaget eller Dokumentation/Arkiv:
Dokumentation/**/*.pdf
!Dokumentation/Arkiv/**/*.pdf

# Temp filer att ignorera
**/.~*
**/~$*
