# .gitignore file

# LaTeX filer att ignorera:
**.aux
**.bbl
**.bcf
**.blg
**.log
**.run.xml
**.synctex.gz

# Ignorerar pdf filer utanför Dokument/Rapporter mappen:
**.pdf
!Dokument/Rapporter/**/*.pdf
!Bolaget/**/*.pdf
