# .gitignore file

# Misc LaTeX filer att ignorera:
**.aux
**.bbl
**.bcf
**.blg
**.log
**.run.xml
**.synctex.gz
**.lot
**.lof
**.toc

# Filtrering av pdf-filer utanför Users, Bolaget eller Dokumentation/Arkiv:
Dokumentation/**/*.pdf
!Dokumentation/Arkiv/**/*.pdf

# Filtrering av temp-filer
**/~$*
**/.~*
